

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)),
 url(<%= cl_image_path theme.logo.key%>)">





 <!-- url(<%= cl_image_path theme.logo.key ,width: 180, height: 180, crop: :fill , gravity: :face, class: "logo-image" %>)"> -->

  <div class="my-container-75">


    <h1 class="logo-baseline "> <%= theme.name %></h1>
    <h2 class="logo-baseline "> <%= theme.basic_description %></h2>
    <p class="logo-baseline "> <%= theme.full_description %></p>


  </div>
</div>









